{% extends 'base.html' %}
{% load static %}


{% block title %}Dolla Dolla Dolla{% endblock title %}
{% block content %}
<main>

    <h1>My Receipts</h1>
    <table>

        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for items in account_list %}
            <tr>
                <td>{{ items.name }}</td>
                <td>{{ items.number }}</td>
                <td>{{ items.owner.accounts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
