{% extends 'base.html' %}

{% block title %}
Sign up! - Sean's Recipes
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>Create Expense Category</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
</main>
{% endblock content %}
